-r requirements.txt
pytest==7.4.3
pytest-cov==4.1.0
black==23.11.0
ruff==0.1.5
isort==5.12.0
mypy==1.6.1
pre-commit==3.5.0
commitizen==3.12.0
ipykernel==6.26.0
jupyter==1.0.0
notebook==7.0.6
terraform-local==0.7.1
python-terraform==0.10.1
